/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;

  /**
   * @prop --badge-color-text: Text color
   */
  color: var(--badge-color-text, var(--color-primary-contrast));
  /**
   * @prop --badge-color-background: Background color
   */
  background: var(--badge-color-background, var(--color-primary));

  text-align: center;
}
