/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  display: inline-flex;
  align-items: center;
  text-align: center;
}


svg {
  height: 1em;
  width: 1em;
}

.star-empty {
  opacity: 0.8;
}
