/*
 * SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.noi-map-popup .popup__description.map-layer-weather-current--popup-date {
  padding: 0 16px;
  margin-top: -8px;
  font-size: 8pt;
}

.noi-map-popup .popup__description.map-layer-weather-current--popup-outdated {
  color: var(--color-secondary);
  padding-top: 0;
}
